@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Instrument Sans", sans-serif;
}

#qr-reader video {
  transform: rotate(90deg);
  width: 100vh !important;
  height: 100vw !important;
  object-fit: cover;
}

#qr-video div[style*="position: absolute"] {
  border: none !important;
}

#qr-shaded-region {
  border: none !important;
}